.login{
  margin-bottom: 80px;
  @include media-breakpoint-down(md){
    margin-bottom: 40px;    
  }
  &-menu{
    a:hover{
      text-decoration-line: $link-hover-decoration;  
    }
  }
}
.login-content{
  margin-bottom: 82px;
  @include media-breakpoint-down(lg){
    margin-top: 40px;
    margin-bottom: 106px;
  }
  .btn{
    margin-top: 36px;
    button{
      border: 1px solid $primary;
      border-radius: 4px;
      padding: 8px 16px;
    }
    &-sign{
      color: $primary;
      background-color: white;
      &:hover{
        color: white;
        background-color: $primary;
      }
    }
  }
  .div-spacing{
    margin-bottom: 12px;
    @include media-breakpoint-down(lg){
      margin-top: 28px;
    }
  }
}