<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D’PERFUME | 首頁</title>
  <link rel="icon" href="../images/icon.jpg">
  <meta name='description' content='D’PERFUME香水-電商網站'/>
  <link rel="stylesheet" href="../css/all.css">
  <script src="../js/jquery-3.5.1.min.js"></script>
</head>
<body>
  <div class="container header">
    <nav class="row navbar navbar-expand-lg navbar-light">
      <h1 class="navbar-brand col-5 col-md-3 col-lg-2 px-0 mb-0">
        <a href="index.html">D’PERFUME</a>
      </h1>
      <div class="mobile-show col-5 col-md-2 d-flex pr-0 align-items-center justify-content-end">
        <div class="shopping_cart-mb mr-3">
          <a href="#"><img src="../images/shopping-cart.svg" alt="shopping-cart.svg"></a>
          <p class="shopping_cart-number text-white text-center bg-primary">3</p>
        </div>
        <button class="btn navbar-toggler pr-0 border-0" type="button" data-toggle="collapse" data-target="#navbar-content2" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div id="navbar-content" class="collapse navbar-collapse col-md-6 justify-content-end">
        <ul class="navbar-nav d-flex">
          <li class="nav-item d-flex align-items-center mr-10">
            <img src="../images/T-shirt.svg" alt="T-shirt.svg">
            <a class="nav-link" href="products.html">Product</a>
          </li>
          <li class="nav-item d-flex align-items-center mr-10">
            <img src="../images/user.svg" alt="user.svg">
            <a class="nav-link" href="login.html">log in</a>
          </li>
          <li class="nav-item d-flex align-items-center mr-10">
            <img src="../images/heart.svg" alt="heart.svg">
            <a class="nav-link" href="#">Wishlist</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <img src="../images/shopping-cart.svg" alt="shopping-cart.svg">
            <a class="nav-link" href="#">Cart(3)</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="navbar-content2" class="container-fluid px-0 collapse navbar-collapse">
    <ul class="navbar-nav mr-auto d-flex justify-content-between">
      <li class="nav-item bg-gray-darker text-center border-bottom border-white">
        <a class="nav-link py-3 text-white" href="products.html">Product</a>
      </li>
      <li class="nav-item bg-gray-darker text-center border-bottom border-white">
        <a class="nav-link py-3 text-white" href="#">Wishlist</a>
      </li>
      <li class="nav-item bg-gray-darker text-center border-bottom border-white">
        <a class="nav-link py-3 text-white" href="#">Blog</a>
      </li>
      <li class="nav-item bg-gray-darker text-center border-bottom border-white">
        <a class="nav-link py-3 text-white" href="#">Contact</a>
      </li>
      <li class="nav-item bg-gray-darker text-center">
        <a class="nav-link py-3 text-white" href="login.html">Log in</a>
      </li>
    </ul>
  </div>
  <!------客製化 Start------>
  <div class="container-fluid mb-6 banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-12 col-sm-5 text-white">
          <h2 class="h1 font-weight-bold">Prefume your day</h2>
          <p class="mb-3 h4 font-weight-normal">
            A perfume is like a piece of clothing, a <br>
            message, a way of presenting oneself <br>
            a costume that according to the <br>
            person who wears it.
          </p>
          <button class="btn font-weight-bold text-white" type="button" onclick="location.href='products.html'">Shop now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-7 mb-md-6">
    <div class="row align-items-center flex-row-reverse products">
      <div class="col-12 col-xl-7 products-image">
        <img src="../images/index-p1.png" alt="index-p1.png">
      </div>
      <div class="col-12 col-xl-4">
        <h2 class="font-weight-bold">Gabrielle CHANEL</h2>
        <p class="mb-3 h5 font-weight-light">全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
        <p class="font-weight-600"><a href="#" class="text-secondary">查看更多</a></p>
      </div>
      <div class="col-xl-1">
      </div>
    </div> 
    <div class="row align-items-center products">
      <div class="col-12 col-xl-7">
        <img src="../images/index-p2.png" alt="index-p2.png">
      </div>
      <div class="col-12 col-xl-4 justify-content-center product-text">
        <h2 class="font-weight-bold">Five O’clock Au Gingembre</h2>
        <p class="mb-3 h5 font-weight-light">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
        <p class="font-weight-600"><a href="#" class="text-secondary">查看更多</a></p>
      </div>
      <div class="col-xl-1">
      </div>
    </div>
    <div class="row align-items-center flex-row-reverse products">
      <div class="col-12 col-xl-7 products-image">
        <img src="../images/index-p3.png" alt="index-p3.png">
      </div>
      <div class="col-12 col-xl-4">
        <h2 class="font-weight-bold">CHANEL N°5</h2>
        <p class="mb-3 h5 font-weight-light">N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。</p>
        <p class="font-weight-600"><a href="product-detail.html" class="text-secondary">查看更多</a></p>
      </div>
      <div class="col-xl-1">
      </div>
    </div>
    <div class="row align-items-center products">
      <div class="col-12 col-xl-7">
        <img src="../images/index-p4.png" alt="index-p4.png">
      </div>
      <div class="col-12 col-xl-4">
        <h4 class="font-weight-600">1.<br>
        Levels of Preventive Maintenance Compliance
        </h4>
        <p class="mb-8 mb-xl-9 font-weight-light">
          The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.
        </p>
        <h4 class="font-weight-600">2.<br>
        Percentage of Planned Maintenance
        </h4>
        <p class="mb-8 mb-xl-9 font-weight-light">
          The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.
        </p>
        <h4 class="font-weight-600">3.<br>
        Critical percentage of planned maintenance
        </h4>
        <p class="mb-8 mb-xl-6 font-weight-light">
          Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.
        </p>
        <button class="px-11 px-lg-4 btn btn-outline-black font-weight-500">Plan a free online training</button>
      </div>
      <div class="col-xl-1">
      </div>
    </div>
  </div>
  <div class="container-fluid py-7 bg-gray">
    <div class="container">
      <div class="card-deck">
        <div class="card col">
          <img class="card-img-top" src="../images/index-p5.png" alt="index-p5.png">
          <div class="card-body">
            <h4 class="card-title mb-1">Poppy & Barley</h4>
            <p class="card-text">Jo Malone</p>
            <div class="d-flex card-text justify-content-sm-center justify-content-md-start">
              <p class="mr-2 mb-0">NT$1,380</p>
              <del class="text-success">NT$1,580</del>
            </div>
          </div>
        </div>
        <div class="card col">
          <img class="card-img-top" src="../images/index-p6.png" alt="index-p6.png">
          <div class="card-body">
            <h4 class="card-title mb-1">Body Wash</h4>
            <p class="card-text">Curology</p>
            <p class="card-text mb-0">NT$1,580</p>
          </div>
        </div>
        <div class="card col">
          <div class="mb-2 soldOut">
            <img class="card-img-top" src="../images/background-gray.svg" alt="background-gray.svg">
            <p class="mb-0 h4 font-weight-normal text-white">Sold out</p>
          </div>
          <div class="card-body">
            <h4 class="card-title mb-1">Apple Cider Vinegar Capsule</h4>
            <p class="card-text">Tonik</p>
            <p class="card-text mb-0">NT$1,580</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-6">
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <img class="img-fluid" src="../images/index-p8.png" alt="index-p8.png">
      </div>
      <div class="col-12 col-md-4">
        <h3 class="font-weight-bold">Bottle-Recycling</h3>
        <p class="mb-3 h5 font-weight-normal">Recycle your used empty bottles and be rewarded!</p>
        <p class="mb-3">For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.</p>
        <p><a href="#" class="h6 text-secondary">查看更多</a></p>
      </div>
    </div>
  </div>  
  <!------客製化 End------>
  <div class="footer">
    <div class="container-fluid footer-introduce">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h2 class="mb-8 text-success">記得 <br>訂閱以獲取更多資訊！</h2>
            <div class="input-group mb-3">
              <input class="form-control input-Text" type="text" placeholder="Your email address" aria-label="emailAddress" aria-describedby="button-addon">
              <div class="input-group-append">
                <button class="btn px-4 py-3 btn-primary" type="button">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-primary">
      <div class="container">
        <div class="row py-8">
          <div class="col-12 col-md-8 d-flex justify-content-between justify-content-md-start align-items-center px-0">
            <a href="index.html"><img class="mr-2 mr-md-8" src="../images/logo-white.png" alt="logo.png"></a>
            <p class="mb-0 font-weight-500 text-white">© 2020. All Rights Reserved.</p>
          </div>
          <ul class="col-md-4 d-none d-lg-flex justify-content-end align-items-center list-unstyled mb-0 footer-nav">
            <li><a href="products.html" class="text-white">Product</a></li>
            <li><a href="#" class="text-white">Blog</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>