<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D’PERFUME | 產品</title>
  <link rel="icon" href="../images/icon.jpg">
  <meta name='description' content='D’PERFUME香水-電商網站'/>
  <link rel="stylesheet" href="../css/all.css">
  <script src="../js/jquery-3.5.1.min.js"></script>
</head>
<body>
  <div class="container header">
    <nav class="row navbar navbar-expand-lg navbar-light">
      <h1 class="navbar-brand col-5 col-md-3 col-lg-2 px-0 mb-0">
        <a href="index.html">D’PERFUME</a>
      </h1>
      <div class="mobile-show col-5 col-md-2 d-flex pr-0 align-items-center justify-content-end">
        <div class="shopping_cart-mb mr-3">
          <a href="#"><img src="../images/shopping-cart.svg" alt="shopping-cart.svg"></a>
          <p class="shopping_cart-number text-white text-center bg-primary">3</p>
        </div>
        <button class="btn navbar-toggler pr-0 border-0" type="button" data-toggle="collapse" data-target="#navbar-content2" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div id="navbar-content" class="collapse navbar-collapse col-md-6 justify-content-end">
        <ul class="navbar-nav d-flex">
          <li class="nav-item d-flex mr-10 align-items-center">
            <img src="../images/T-shirt.svg" alt="T-shirt.svg">
            <a class="nav-link" href="products.html">Product</a>
          </li>
          <li class="nav-item d-flex mr-10 align-items-center">
            <img src="../images/user.svg" alt="user.svg">
            <a class="nav-link" href="login.html">log in</a>
          </li>
          <li class="nav-item d-flex mr-10 align-items-center">
            <img src="../images/heart.svg" alt="heart.svg">
            <a class="nav-link" href="#">Wishlist</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <img src="../images/shopping-cart.svg" alt="shopping-cart.svg">
            <a class="nav-link" href="#">Cart(3)</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="navbar-content2" class="container-fluid collapse navbar-collapse px-0">
    <ul class="navbar-nav d-flex mr-auto justify-content-between">
      <li class="nav-item text-center border-bottom bg-gray-darker border-white">
        <a class="py-3 nav-link text-white" href="products.html">Product</a>
      </li>
      <li class="nav-item text-center border-bottom bg-gray-darker border-white">
        <a class="py-3 nav-link text-white" href="#">Wishlist</a>
      </li>
      <li class="nav-item text-center border-bottom bg-gray-darker border-white">
        <a class="py-3 nav-link text-white" href="#">Blog</a>
      </li>
      <li class="nav-item text-center border-bottom bg-gray-darker border-white">
        <a class="py-3 nav-link text-white" href="#">Contact</a>
      </li>
      <li class="nav-item text-center bg-gray-darker">
        <a class="py-3 nav-link text-white" href="login.html">Log in</a>
      </li>
    </ul>
  </div>
  <!------客製化 Start------>
  <div class="container-fluid d-none d-lg-flex products bg-primary">
    <div class="container">
      <div class="row">
        <ul class="nav col-7 d-flex list-unstyled products-menu">
          <li class="nav-item"><a class="nav-link text-white" href="#">CHANEL</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Jo Malone</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Curology</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Dior</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Chloe</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">ZARA</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container products mt-7 mt-lg-0">
    <div class="card-deck row mb-md-6">
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/1.png" alt="1.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <div class="d-flex card-text">
            <p class="mr-2 mb-0">NT$1,380</p>
            <del class="text-success">NT$1,580</del>
          </div>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/2.png" alt="2.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <div class="d-flex card-text">
            <p class="mr-2 mb-0">NT$1,380</p>
            <del class="text-success">NT$1,580</del>
          </div>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/3.png" alt="3.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <p class="card-text mb-0">NT$1,380</p>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/4.png" alt="4.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Tonik</p>
          <p class="card-text mb-0">NT$1,380</p>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck row mb-md-6">
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/5.png" alt="5.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <div class="d-flex card-text img-auto">
            <p class="mr-2 mb-0">NT$1,380</p>
            <del class="text-success">NT$1,580</del>
          </div>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="product-description.html"><img class="img-fluid card-img-top" src="../images/products/6.png" alt="6.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <div class="d-flex card-text">
            <p class="mr-2 mb-0">NT$1,380</p>
            <del class="text-success">NT$1,580</del>
          </div>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/7.png" alt="7.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <p class="card-text mb-0">NT$1,380</p>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/8.png" alt="8.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Tonik</p>
          <p class="card-text mb-0">NT$1,380</p>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck row mb-md-6">
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/9.png" alt="../images/products/9.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <div class="d-flex card-text">
            <p class="mr-2 mb-0">NT$1,380</p>
            <del class="text-success">NT$1,580</del>
          </div>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/10.png" alt="10.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <div class="d-flex card-text">
            <p class="mr-2 mb-0">NT$1,380</p>
            <del class="text-success">NT$1,580</del>
          </div>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/11.png" alt="11.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Jo Malone</p>
          <p class="card-text mb-0">NT$1,380</p>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
      <div class="card col-6 col-md-3 mb-sm-10 mb-md-0">
        <div class="card-body">
          <a href="#"><img class="img-fluid card-img-top" src="../images/products/12.png" alt="12.png"></a>
          <h4 class="card-title mb-1">Poppy & Barley</h4>
          <p class="card-text mb-0">Tonik</p>
          <p class="card-text mb-0">NT$1,380</p>
          <div class="d-flex card-text img-auto">
            <img class="mr-2" src="../images/heart-brown.svg" role="button" data-toggle="modal" data-target="#add-Favorites">
            <img src="../images/shopping-cart-brown.svg" role="button" data-toggle="modal" data-target="#add-Shopping_cart">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="add-Favorites" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-Favorites" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <span class="text-primary font-weight-bold">已加入我的收藏</span>
        </div>
      </div>
    </div>
  </div>
  <div id="add-Shopping_cart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-Shopping_cart" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <span class="text-primary font-weight-bold">已加入購物車</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container pages mb-7 mb-md-6">
    <nav aria-label="page navigation example">
      <ul class="pagination justify-content-center mb-0">
        <li class="page-item"><a class="page-link border-0 text-secondary font-weight-normal underline" href="#">1</a></li>
        <li class="page-item"><a class="page-link border-0 font-weight-normal" href="#">2</a></li>
        <li class="page-item"><a class="page-link border-0 font-weight-normal" href="#">3</a></li>
      </ul>
    </nav>
  </div>
  <!------客製化 End------>
  <div class="footer">
    <div class="container-fluid footer-introduce">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h2 class="mb-8 text-success">記得 <br>訂閱以獲取更多資訊！</h2>
            <div class="input-group mb-3">
              <input class="form-control input-Text" type="text" placeholder="Your email address" aria-label="emailAddress" aria-describedby="button-addon">
              <div class="input-group-append">
                <button class="btn px-4 py-3 btn-primary" type="button">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-primary">
      <div class="container">
        <div class="row py-8">
          <div class="col-12 col-md-8 d-flex justify-content-between justify-content-md-start align-items-center px-0">
            <a href="index.html"><img class="mr-2 mr-md-8" src="../images/logo-white.png" alt="logo.png"></a>
            <p class="font-weight-500 text-white mb-0">© 2020. All Rights Reserved.</p>
          </div>
          <ul class="col-md-4 d-none d-lg-flex justify-content-end align-items-center list-unstyled mb-0 footer-nav">
            <li><a href="products.html" class="text-white">Product</a></li>
            <li><a href="#" class="text-white">Blog</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>